table.BTable {
    border-collapse: separate;
    border-spacing: 0;
    tr th.th {
        background-color: $bcnc-bg;
        color: white;
        font-weight: normal;
        padding: .25em;
        text-shadow: $tshadow1;
    }
    tbody tr.pickedRow,
    tbody tr td.pickedRow {
        background-color: $bcnc-pickedBackground;
    }
    tbody tr td.pickedCell {
        background-color: $bcnc-pickedCellBackground;
    }
    tbody tr {
        td {
            padding: {
                left: .25em;
                right: .25em;
                top: .15em;
                bottom: .15em;
            }
            border-bottom: .5px solid silver;
        }
    }
}
/*
div.BTableScrollingContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
    background-color: gainsboro;
}
div.BTableScrollingContainer::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
*/