$fancyGradient: linear-gradient(45deg, darkcyan, cornflowerblue);
$buttonGradient: linear-gradient(ghostwhite, lightblue);
$buttonGradientActive: linear-gradient(lightblue, lightblue);
$buttonGradientDisabled: linear-gradient(ghostwhite, silver);
$buttonGradientWarning: linear-gradient(ghostwhite, lightyellow);
$popupGradient: linear-gradient(45deg, rgba(44, 42, 86, 0.8), rgba(0, 0, 0, .8));
$tshadow: 2px 2px 2px black;
$tshadow1: 1px 1px 1px black;
$bcnc-bg: #0099cc;
$bcnc-pickedBackground: rgb(208, 236, 245); /*rgba(147, 213, 248,.5);*/

/* $input-checked: rgba(27, 158, 27, 0.883); */
$input-checked: rgba(0, 0, 0, .7);
/*$input-checked-disabled: rgba(194, 243, 197); */
$input-checked-disabled: rgba(0, 0, 0, .1);
$radckb-size: 1.2em;
$input-border: dimgray;
$input-border-disabled: rgb(194, 190, 190);